.wrapper {
  cursor: default;
  display: inline-block;
  text-align: center;
}

.logo {
  font-size: 4rem;
  font-weight: 900;
  margin: 0;
  text-transform: uppercase;
}

.github {
  color: var(--color-primary);
}

.search {
  font-weight: 200;
}

.search,
.slogan {
  color: var(--text-color-default);
}

.slogan {
  font-size: 1.5rem;
  font-style: italic;
}
