.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app > div {
  margin: 20px;
}

.user-search-container {
  width: 500px;
}

.theme-toggler-container {
  position: absolute;
  top: -10px;
  right: -40px;
}

@media only screen and (max-width: 560px) {
  .app {
    padding: 0 10px;
  }

  .user-search-container {
    width: 100%;
  }
}
