@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,700;0,900;1,400&display=swap');

:root {
  --color-primary-hover: #58d4f0;
  --color-primary-active: #2ea2bd;

  --border-radius-sm: 5px;
}

* {
  font-family: 'Source Sans Pro', sans-serif;
}

html,
body {
  margin: 0;
}

body,
#root {
  height: 100vh;
}

body {
  background: #f6f9fc;

  --color-primary: #00d0ff;

  --border-color-default: #d7d7d7;

  --text-color-default: #474747;

  --surface-color-default: #fff;

  --text-field-bg: #fff;
}

body.dark {
  background: #1b1b1b;
  color: #fff;

  --color-primary: #19aecf;

  --border-color-default: #3a3a3a;

  --text-color-default: #e1e1e1;

  --surface-color-default: #282828;

  --text-field-bg: #101010;
}
