@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --color-primary-hover: #ff3fc4;
  --color-primary-active: #bb0082;

  --border-radius-sm: 5px;
}

* {
  font-family: 'Source Sans Pro', sans-serif;
}

html,
body {
  margin: 0;
}

body,
#root {
  height: 100vh;
}

body {
  background: #f6f9fc;

  --color-primary: #fb5bca;

  --border-color-default: #d7d7d7;

  --text-color-default: #474747;

  --surface-color-default: #fff;

  --text-field-bg: #fff;
}

body.dark {
  background: #221a34;
  color: #fff;

  --color-primary: #ff00b1;

  --border-color-default: #4b3c63;

  --text-color-default: #e1e1e1;

  --surface-color-default: #34294c;

  --text-field-bg: #140b23;
}
